.card {
    background: rgb(205, 169, 247);
    border-radius: 2px;
    height: 183px;
    margin: 1rem;
    position: relative;
    width: 323px;
    box-shadow: 0px 6px 12px rgb(35, 15, 58), 0px 6px 12px rgb(35, 15, 58);
    text-align: left;
    margin-bottom: 30px;
  }
  
  .card > .img-container {
    height: 100%;
    text-align: center;
    background:rgb(205, 169, 247);
  }
  .card > .img-container > img {
    width: 100%
  }
