.card {
    background: rgb(205, 169, 247);
    border-radius: 2px;
    height: 150px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px rgb(117, 116, 116);
    text-align: left;
    margin-bottom: 30px;
  }
  
  .card > .img-container {
    height: 100%;
    text-align: center;
    background:rgb(205, 169, 247);
  }
  .card > .img-container > img {
    width: 100%
  }
